/*--Login页面专用css--*/
.login-bg{
	width: 100%;
	height: 70%;
	position: relative;
}
.login-header{
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	z-index: 10;
}
.login-header .ilogo{
	width: 20%;
	height: 40px;
	float: left;
}
.login-header .ilogo img{
	float: left;
    height: 32px;
    margin: 9px 5px;
    width: 32px;
}
.login-header .ilogo em{
	display: inline-block;
	float: left;
	font-size: 1.7em;
}
.login-header .imsg{
	width:auto;
	height: 50px;
	float: right;
	text-align: right;
	margin: 0 10px 0 0;
}
.login-header .imsg span,.login-header .imsg a{
	width: auto;
	padding: 0 10px;
	float: right; 
	display: inline-block;
	font-size: 0.9em;
	color: rgba(255, 255, 255, 0.85);
}
.login-header .imsg a{
	cursor: pointer;
	text-decoration: none;
}
.login-header .imsg a:hover{
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}
.login-header .imsg em{
	border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 0.85em;
    height: 20px;
    line-height: 18px;
    margin: 16px 40px 0 0;
    padding: 0 10px;
}
.login-header .imsg em:hover{
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 0.8);
}
.login-in{
	width: 100%;
	height: 120px;
	background: rgba(0, 0, 0, 0.23);
	position: absolute;
	z-index: 100;
	color: #fff;
}
.login-in .icon-s{
	width: 70%;
	height: 100%;
	float: left;
	overflow: hidden;
}
.login-in .icon-s i{
	width: 100px;
	height: 100%;
	display: inline-block;
	float: left;
	margin: 0 -10px 0 40px;
	background: url(../images/login-icon.png) no-repeat left / 60%;
}
.login-in .icon-s h3{
	margin: 30px 0 0 0;
	float: left;
	width: 70%;
	display: inline-block;
}
.login-in .icon-s h5{
	margin: 20px 0;
	font-size: 1.2em;
	float: left;
	width: 70%;
	display: inline-block;
	color: rgba(255, 255, 255, 0.9);
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.login-in .login-btn{
	background: #c23232;
    border-radius: 3px;
    border: none;
    color: rgba(255, 255, 255, 0.95);
    position: absolute;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    text-align: center;
    width: auto;
    right: 40px;
}
.login-in .login-btn:hover{
	background: #d22b32;
	color: rgba(255, 255, 255, 1);
}
.login-adv{
	display: block;
	position: relative;
    height:35%;
    top: 0px;
    left: 0px;
	width: 100%;
	margin: 0;
	background: #eee none repeat scroll 0 0;
}
.login-adv-ul{
	display: inline-block;
	width: 100%;
	height: 60%;
	margin: 0;
	padding:0;
}
.login-adv-li{
	width: 25%;
	height: 100%;
	float: left;
	list-style: none;
	margin: 30px 0 0 0;
	/*padding: 0 15px 0 0;*/
	/*border-right: 1px solid #666;*/
	text-align: center;
}
.login-adv-li .advLiEmSpan{
	margin-top: 10px;
	width: 100%;
	border-right: 1px solid #666;
}
.login-adv-li:last-child .advLiEmSpan{
	border-right: none;
}
.login-adv-li em{
	line-height: 30px;
	font-weight: 700;
	color: #666;
	display: block;
	/*padding: 5px 0 5px 0;*/
	/*border-right: 1px solid #666;*/
}
.login-adv-li span{
	font-size: 0.8em;
}
.lispan{
	/*padding-top: 15px;*/
	width: 50%;
	margin: auto;
}
.login-adv-circle{
	border: 1px solid #666;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin: auto;
}
.login-adv-circle i{
	font-size: 1.9em;
	cursor: default;
	line-height: 65px;
	color: #666;
	transition: all 0.1s ease-out 0s;
}
.login-adv-circle .fa-map-marker{
	font-size: 2.4em;
}
.login-adv-circle i:hover{
	transform: scale(1.5, 1.5);
}


.login-adv-circle .loginFontIcon{
	background: rgba(0, 0, 0, 0) url("../images/login-icon.png") no-repeat scroll left center / 60% auto;
	border: 1px solid black;
	height: 20px;
	width: 20px;
	color: rgba(0, 0, 0, 1);
}
.form-control::-moz-placeholder {
	color: #999;
}
.form-control{
	font-size: 0.9em;
}
.zpopup{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
}
.zpopup .pop-inn{
	width:100%;
	height: 100%;
}
.zpopup .pop-inn .pop-content{
	width: 400px;
	height: auto;
	background-color: #fff;
	color: #333;
    text-align: center;
    margin: 100px 30% auto 30%;
	overflow: hidden;
	padding: 15px 3.5% 15px 2.5%;
	position: absolute;
	z-index: 1000;
}
.zpopup .pop-inn .pop-bg{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	left: 0;
    position: fixed;
    top: 0;
    
}

.zpopup .pop-inn .stable{
	width: 100%;
	color: #666;
	font-size: 0.9em;
	overflow: hidden;
	border: none;
}
.zpopup .pop-inn .stable .stitle{
	font-size: 1.4em;
	font-weight: 200;
	height: 30px;
	color: rgba(0, 0, 0, 0.8);
	/*color：具体属性见换肤的对应css*/
}
.zpopup .pop-inn .stable tr i{
	font-style: normal;
	font-size: 0.9em;
	margin-right: 8%;
}
.zpopup .pop-inn .stable td{
	padding: 1px 0;
}
.zpopup .pop-inn .stable td img{
	margin-top: 0px;
}
.zpopup .pop-inn .stable td em{
	font-size: 1.2em;
}
.zpopup .pop-inn .stable div{
	width:100%;
	height:auto;
	overflow:hidden;
	font-size: 0.9em;
	text-align: center;
}
.zpopup .pop-inn .stable tr{
	color: #666;
	line-height: 40px;
}

.zpopup .pop-inn input{
	height: 26px;
	border-radius: 0;
	float: left;
	box-shadow: none;
	border: solid 1px #999;
	display: inline-block;
	width: 100%;
	padding: 0 5px;
}
.zpopup .pop-inn .stable tr span{
	color: #C23232;
	font-size: 1.8em;
	padding-top: 9px;
	float: left;
	margin-left:6px ;
}
.zpopup .pop-inn .stable tr .select-diy{
	height: 26px;
}
.select-diy select{
	-moz-appearance: none;
	border: 1px solid #999;
	color: rgba(0, 0, 0, 0.6);
	display: inline-block;
	height: 26px;
	padding-right: 20px;
	width: 100%;
	border-radius: 0;
	background-color: #fff;
}
.select-diy em{
	top: 6px;
	float: right;
}
.zpopup .pop-inn .stable tr .btn{
	height: 30px;
	width: 100%;
	/*background：具体属性见换肤的对应css*/
	border: none;
	color: #fff;
	font-size: 0.9em;
}
.zpopup .pop-inn .stable tr .btn:hover{
	/*background：具体属性见换肤的对应css*/
}
.zpopup .pop-inn .stable tr.zth i{
	font-style: normal;
	display: inline-block;
	margin: 7px 0;
	cursor: pointer;
	line-height: 16px;
	font-size: 0.95em;
}
.zpopup .pop-inn .stable tr.zth a{
	margin: 7px 0 7px 10px;
	line-height: 14px;
	text-decoration: underline;
	font-size: 0.95em;
}
.zpopup .pop-inn .stable .zth .btn{
	font-size: 0.8em;
	border: none;
	text-decoration: underline;
	margin-top: 13px;
	float: left;
}
.zpopup .pop-inn .stable .zth .btn:hover{
	color: #d22b32;
	background-color: #fff;
}
.zpopup .pop-inn .closeLogin {
	color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.8em;
    font-weight: lighter;
    position: absolute;
    right: 14px;
    top: 1px;
    z-index: 1001;
}
.loading{
	position: absolute; 
	background: rgba(0, 0, 0, 0.1); 
	width:100%;
	text-align:center;
	z-index: 10002;
	height:100%;
	
	
}
.loading img{
	position: absolute;
	top:50%
}